@model web_team3_assignment.Models.Project

@{
    ViewData["Title"] = "Edit and Update Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">Update Project Record</h4>
<hr />

<form asp-action="EditProject">
    <fieldset class="FormContent">
        <br />
        <input asp-for="ProjectPoster" readonly  value="@Model.ProjectPoster" type="hidden" />

        <div class="form-group row">
            <label asp-for="ProjectId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectId" readonly value="@Model.ProjectId"
                       class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Title"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" readonly value="@Model.Title"
                       class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" value="@Model.Description" />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="ProjectURL"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectURL" value="@Model.ProjectURL"
                       class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Update"
                       class="btn btn-primary mb1 black bg-aqua" />
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-primary mb1 black bg-gray">Back to List</a>
            <a asp-action="UploadPhoto"
               asp-route-id="@Model.ProjectId"  class="btn btn-primary mb1 black bg-gray">Upload Photo</a>
        </div>
    </fieldset>
</form>