@model IEnumerable<web_team3_assignment.Models.StudentViewModel>

@{
    ViewData["Title"] = "StudentSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-fluid" src="~/images/viewsuggestion.png" style="display:block; margin:auto;" />
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Lecturer Name</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SuggestionId.ToString()</td>
                        <td>@item.LecturerName</td>
                        <td>@item.Description</td>
                        <td>@item.DateCreated.ToString()</td>
                        <td>@item.Status</td>
                        <td>
                            <a asp-action="Acknowledge" asp-controller="Suggestion"
                               asp-route-id="@item.SuggestionId">Acknowledge</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}