@model IEnumerable<web_team3_assignment.Models.ProjectMemberViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View ProjectMember</h4>
<!-- Display a list of branches -->
<div class="table-responsive">
    <table id="viewProjectMember" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ProjectID</th>
                <th>StudentID</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model.projectMemberList)
            {
                string selectedRow = "";
                if (ViewData["selectedProjectId"].ToString()
                 == item.ProjectId.ToString())
                {
                    // Highlight the selected row
                    selectedRow = "class='table-primary'";
                }
            <tr @Html.Raw(selectedRow)>
                <td>@item.ProjectID.ToString()</td>
                <td>@item.StudentID.ToString()</td>
                <td>@item.Role</td>
                <td>
                    <a asp-action="Index" asp-controller="ProjectMember"
                       asp-route-id="@item.ProjectID">View ProejctMember</a>
                </td>
            </tr>
            }*@
        </tbody>
    </table>
</div>

<!-- Display a list of staff members for each branch -->
@*@if (ViewData["selectedProjectID"].ToString() != "")
{
    if (Model.projectMemberList.Count != 0)
    {
        <h5>
            Staff working in Branch
            @ViewData["selectedProjectID"].ToString() :
        </h5>
        <partial name="~/Views/ProjectMember/_ViewProjectMember.cshtml"
                 model="@Model.projectMemberList" />
    }
    else
    {
        <h5>No project for selected projectmembers!</h5>
    }*@
}


