@model IEnumerable<web_team3_assignment.Models.Lecturer>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Email Address</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string selectedRow = "";
                    string delete = "color: #990000; cursor: default; font-weight: bold;";
                    if (Context.Session.GetString("LoginName") == item.Name.ToString())
                    {
                        selectedRow = "class='table-primary'";
                        delete = "color: green; font-weight: bold;";
                    }
                    <tr @Html.Raw(selectedRow)>
                        <td>@item.LecturerId.ToString()</td>
                        <td>@item.Name</td>
                        <td>
                            @{ string imageFileName = item.Name + ".jpg"; }
                            <img src="~/images/@imageFileName"
                                 style="width:50px" />
                        </td>
                        <td>@item.Email</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.LecturerId == Convert.ToInt32(Context.Session.GetString("ID")))
                            {
                                <a asp-action="Edit" asp-controller="Lecturer"
                                   asp-route-id="@item.LecturerId" style="@Html.Raw(delete)">Edit</a>
                                @:|
                                <a asp-action="Delete" asp-controller="Lecturer"
                                   asp-route-id="@item.LecturerId" style="@Html.Raw(delete)">Delete</a>
                            }
                            else
                            {
                                <span style="@Html.Raw(delete)" title="You are not allowed to delete other lecturer's profile!">Delete</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
